@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.instruction,
.book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  width: 100%;
  height: 100vh;
  min-width: 900px;
  min-height: 700px;
  /* background-image: url('../images/Geeta-Slider-1.jpg'); */
  position: relative;
  background-repeat: no-repeat;

}

.book {
  width: 847px;
  height: 654.5px;
  transform: translate(-50%, -50%) rotatex(10deg) rotatey(-10deg);
  transform-style: preserve-3d;
}

.img-fluid {
  max-width: 100%;
  height: 655px;
}

.page {
  width: 423.5px;
  height: 654.5px;
  background: #eee;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.page:nth-child(1) {
  /* padding: 5% 4% 4% 5%; */
  transform-origin: 0% 50%;
  transform: translatez(-1px);
  /* background: #8d7a42; */
}

.left-side:nth-child(1) {
  transform: translatez(1px) rotatey(-180deg);
}

.page:nth-child(2) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-2px) scalex(-1) translatex(100%);
  /* background: #5e0e00; */
  background-image: url(../images/ubh858aj.webp);
  background-size: cover;
  /* background-color: #ccc; */
}

.left-side:nth-child(2) {
  transform: translatez(2px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(3) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-3px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
  /* background-color: #ccc; */
}

.left-side:nth-child(3) {
  transform: translatez(3px) rotatey(-180deg);
}

.page:nth-child(4) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-4px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
  overflow-y: scroll;
}


.left-side:nth-child(4) {
  transform: translatez(4px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(5) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-5px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
  overflow-y: scroll;
}

.page::-webkit-scrollbar {
  display: none;
}

.left-side:nth-child(5) {
  transform: translatez(5px) rotatey(-180deg);
}

.page:nth-child(6) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-6px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(6) {
  transform: translatez(6px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(7) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-7px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(7) {
  transform: translatez(7px) rotatey(-180deg);
}

.page:nth-child(8) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-8px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(8) {
  transform: translatez(8px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(9) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-9px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(9) {
  transform: translatez(9px) rotatey(-180deg);
}

.page:nth-child(10) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-10px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(10) {
  transform: translatez(10px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(11) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-11px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(11) {
  transform: translatez(11px) rotatey(-180deg);
}

.page:nth-child(12) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-12px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(12) {
  transform: translatez(12px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(13) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-13px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(13) {
  transform: translatez(13px) rotatey(-180deg);
}

.page:nth-child(14) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-14px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(14) {
  transform: translatez(14px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(15) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-15px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(15) {
  transform: translatez(15px) rotatey(-180deg);
}

.page:nth-child(16) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-16px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(16) {
  transform: translatez(16px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(17) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-17px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(17) {
  transform: translatez(17px) rotatey(-180deg);
}

.page:nth-child(18) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-18px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(18) {
  transform: translatez(18px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(19) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-19px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(19) {
  transform: translatez(19px) rotatey(-180deg);
}

.page:nth-child(20) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-20px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(20) {
  transform: translatez(20px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(21) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-21px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(21) {
  transform: translatez(21px) rotatey(-180deg);
}

.page:nth-child(22) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-22px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(22) {
  transform: translatez(22px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(23) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-23px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(23) {
  transform: translatez(23px) rotatey(-180deg);
}

.page:nth-child(24) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-24px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(24) {
  transform: translatez(24px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(25) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-25px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(25) {
  transform: translatez(25px) rotatey(-180deg);
}

.page:nth-child(26) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-26px) scalex(-1) translatex(100%);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}

.left-side:nth-child(26) {
  transform: translatez(26px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(27) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-27px);
  background-image: url(../images/tan-vintage-paper-textures-3.jpg);
  background-size: cover;
}


.cover-front:nth-child(1) {
  text-align: center;
  background-image: url(../images/nay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(#d1a666, #c38417) 50% 50%/80% 86% no-repeat, linear-gradient(#d28d55, #d27930) 50% 50%/90% 93% no-repeat, linear-gradient(#d1a666, #c38417) no-repeat; */
}

.cover-front:nth-child(1) h1 {
  font-family: "Lora", serif;
  font-size: 45px;
  color: #134a78;
  margin-top: 30px;
  text-transform: uppercase;
}

.cover-front:nth-child(1) h2 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  /* color: #134a78; */
  position: relative;
  top: 40%;
}

.cover-front:nth-child(1) .hat {
  font-size: 100px;
  color: #134a78;
  position: relative;
  top: 3%;
}

p {
  margin-bottom: 4%;
  font-family: "EB Garamond", serif;
  font-size: 16px;
}

.page:nth-child(3) p:first-of-type:first-letter {
  font-size: 32px;
}

.instruction {
  left: calc(50% - 150px);
  font-size: 26px;
  font-family: "EB Garamond", serif;
  color: #0009;
  background: #fff7;
  border-radius: 15px;
  padding: 10px 15px;
}

.shlokbtn {
  /* width: 70px; */
  height: 35px;
  padding: 5px;
  border: 1px solid rgb(35, 35, 35);
  border-radius: 10px;
  color: rgb(4, 4, 4);
  background-color: transparent;
}